
<h2>{{ title }}</h2>
<button (click)="add()">Add</button>
<ul>
  <li *ngFor="let course of courses; index as i">
    {{ i }} - {{ course }}
    <button (click)="delete(course)">Delete</button>
  </li>
</ul>
<button 
  (click)="onClick()" 
  class="btn btn-primary" 
  [class.active]="isActive"
  [ngStyle]="{
    'backgroundColor': canSave ? 'blue' : 'grey',
    'color': canSave ? 'white' : 'black'
  }">Save
</button>
<hr>
<input #email (keyup.enter)="enter(email.value)" />
<input [(ngModel)]="mail" (keyup.enter)="twoway()" />
